<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key> <string>en</string>
  <key>CFBundleInfoDictionaryVersion</key> <string>6.0</string>
  <key>CFBundleName</key> <string>DisplayControl</string>
  <key>CFBundleDisplayName</key> <string>Display Control</string>
  <key>CFBundleIdentifier</key> <string>com.jdw.DisplayControl</string>
  <key>CFBundleExecutable</key> <string>DisplayControl</string>
  <key>CFBundleIconFile</key> <string>AppIcon</string>
  <key>CFBundlePackageType</key> <string>APPL</string>
  <key>CFBundleShortVersionString</key> <string>0.3.0</string>
  <key>CFBundleVersion</key> <string>0.3.0</string>
  <key>LSMinimumSystemVersion</key> <string>13.0</string>
  <key>LSUIElement</key> <true/>
  <key>NSHighResolutionCapable</key> <true/>
  <key>SUFeedURL</key>
  <string>https://github.com/johndavidwright/display-control/releases/latest/download/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>OMSH5VoYXWhb5ComQtWX7rvG33n4c1Yc9G6N0/eJZtU=</string>
  <key>SUScheduledCheckInterval</key> <integer>86400</integer>
  <key>SUVerifyUpdateBeforeExtraction</key> <true/>
  <key>SURequireSignedFeed</key> <true/>
</dict>
</plist>
